<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings />
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="120000"/>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <connectionStrings>
    <!--Testing-->
    <add name="elyon_comConnectionString" connectionString="Data Source=MARCELO\SQLEXPRESS;Initial Catalog=Elyon_com;Persist Security Info=True;User ID=sa;Password=Elyon2013;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="elyon_SecurityConnectionString" connectionString="Data Source=MARCELO\SQLEXPRESS;Initial Catalog=Elyon_security;Persist Security Info=True;User ID=sa;Password=Elyon2013;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="arezcrm_crmConnectionString" connectionString="Data Source=MARCELO\SQLEXPRESS;Initial Catalog=Elyon_crm;Persist Security Info=True;User ID=sa;Password=Elyon2013;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="elyon_comEntities" connectionString="metadata=res://*/DAL.ElyonCom.csdl|res://*/DAL.ElyonCom.ssdl|res://*/DAL.ElyonCom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARCELO\SQLEXPRESS;initial catalog=Elyon_com;persist security info=True;user id=sa;password=Elyon2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="connected_securityEntities" connectionString="metadata=res://*/DAL.ElyonComSecurity.csdl|res://*/DAL.ElyonComSecurity.ssdl|res://*/DAL.ElyonComSecurity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARCELO\SQLEXPRESS;initial catalog=Elyon_security;persist security info=True;user id=sa;password=Elyon2013;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="arezcrm_crmEntities" connectionString="metadata=res://*/arezcrm_crm.csdl|res://*/arezcrm_crm.ssdl|res://*/arezcrm_crm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARCELO\SQLEXPRESS;initial catalog=Elyon_crm;persist security info=True;user id=sa;Password=Elyon2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="elyon_crmEntities" connectionString="metadata=res://*/arezcrm_crm.csdl|res://*/arezcrm_crm.ssdl|res://*/arezcrm_crm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARCELO\SQLEXPRESS;initial catalog=Elyon_crm;persist security info=True;user id=sa;password=Elyon2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--Produccion-->
    <!--<add name="elyon_comConnectionString" connectionString="Data Source=EZEQUIELLOPEZ\SQLEXPRESS;Initial Catalog=Elyon_com;Persist Security Info=True;User ID=sa;Password=tuvalesoro;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="elyon_SecurityConnectionString" connectionString="Data Source=EZEQUIELLOPEZ\SQLEXPRESS;Initial Catalog=Elyon_security;Persist Security Info=True;User ID=sa;Password=tuvalesoro;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="arezcrm_crmConnectionString" connectionString="Data Source=EZEQUIELLOPEZ\SQLEXPRESS;Initial Catalog=electroban_crm;Persist Security Info=True;User ID=sa;Password=tuvalesoro;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="elyon_comEntities" connectionString="metadata=res://*/DAL.ElyonCom.csdl|res://*/DAL.ElyonCom.ssdl|res://*/DAL.ElyonCom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EZEQUIELLOPEZ\SQLEXPRESS;initial catalog=Elyon_com;persist security info=True;user id=sa;password=tuvalesoro;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="connected_securityEntities" connectionString="metadata=res://*/DAL.ElyonComSecurity.csdl|res://*/DAL.ElyonComSecurity.ssdl|res://*/DAL.ElyonComSecurity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EZEQUIELLOPEZ\SQLEXPRESS;initial catalog=Elyon_security;persist security info=True;user id=sa;password=tuvalesoro;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="arezcrm_crmEntities" connectionString="metadata=res://*/arezcrm_crm.csdl|res://*/arezcrm_crm.ssdl|res://*/arezcrm_crm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EZEQUIELLOPEZ\SQLEXPRESS;initial catalog=electroban_crm;persist security info=True;user id=sa;Password=tuvalesoro;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="elyon_crmEntities" connectionString="metadata=res://*/arezcrm_crm.csdl|res://*/arezcrm_crm.ssdl|res://*/arezcrm_crm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EZEQUIELLOPEZ\SQLEXPRESS;initial catalog=electroban_crm;persist security info=True;user id=sa;password=tuvalesoro;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
    
   
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>